    <!--aqui se agrega *ngIf como propiedad boleana del component.ts-->
    <div class="row" *ngIf="isActive">
        <div class="col-sm-12 col-md-6 mx-auto">
            <div class="card">
                <div class="card-header">
                    <h4 class="font-weight-normal text-center">Our Favorite Beer Today</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-4 text-center">
                            <!--<img class="fav-beer-image" src="https://images.punkapi.com/v2/169.png"/>-->
                            <img class="fav-beer-image" [src]="FavBeerImg" [style.height.px]="imgHeight" [style.width.px]="imgWidth"/>
                        </div>
                        <div class="col-8 d-flex flex-column">
                            <h5 class="card-title">A Blend of Two Barrel-aged Imperial Saisons.</h5>
                            <p class="card-text fav-beer-description">One of the most complex beers we’ve ever attempted. A blend of two barrel-aged Imperial Saisons – one black, one red – which has in turn then been aged in rum barrels, it is an enormous, intricate beer. A baseline of warm, smoky raisin and plum, followed by punchy flavour elements coming to the fore – coconut, mint and blackcurrant. There’s a long undercurrent of treacle toffee, before the finish darkens to liquorice, star anise amidst a touch of honey sweetness.</p>
                            <div class="mt-auto mx-auto text-center">
                                <h2 class="font-weight-normal">
                                    <small class='text-muted' style='text-decoration: line-through;'>$6.4</small>
                                    <small class='text-muted'> / </small><span>$3.2</span>
                                </h2>
                                <button type="button" class="btn btn-outline-info btn-lg mb-2">Add to the Wish List</button>
                                <button type="button" class="btn btn-outline-primary btn-lg mb-2">Add to Cart</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>