<div class="row mb-4" *ngIf="isActive && favBeer">
    <div class="col-sm-12 col-md-6 mx-auto">
        <div class="card">
            <div class="card-header">
                <h4 class="font-weight-normal">
                    Our Favorite Beer Today
                    <button type="button" class="btn btn-link float-right" (click)="toggleImage($event)">Show</button>
                </h4>
            </div>
            <div class="card-body" *ngIf="togglePromotion">
                <div class="row">
                    <div class="col-4 text-center">
                        <!--img class="fav-beer-image" src="https://images.punkapi.com/v2/179.png" /-->
                        <!--img class="fav-beer-image" [src]="favBeerImg" [style.height.px]="imgHeight" [style.width.px]="imgWidth" /-->
                        <img class="fav-beer-image" src="{{ favBeer.image_url }}" [style.height.px]="imgHeight" [style.width.px]="imgWidth" />
                    </div>
                    <div class="col-8 d-flex flex-column">
                        <h5 class="card-title">{{ favBeer.name }}</h5>
                        <p class="card-text">{{ favBeer.description }}</p>
                        <div class="mt-auto mx-auto text-center">
                            <h2 class="font-weight-normal">
                                <small class='text-muted' style='text-decoration: line-through;'>${{ favBeer.abv }}</small>
                                <small class='text-muted'> / </small><span>${{ favBeer.abv / 2 }}</span>
                            </h2>
                            <button type="button" class="btn btn-outline-info btn-lg mb-2">Add to the Wish List</button>
                            <button type="button" class="btn btn-outline-primary btn-lg mb-2">Add to Cart</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>