<div class="row">
    <div class="col-sm-4 col-xl-3 mb-4" *ngFor="let beer of searchResults">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="ml-auto mr-3">
                        <i class="fa fa-star favorite-beer text-primary"></i>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 text-center">
                        <img class="beer-image" src="{{ beer.image_url }}" alt="{{ beer.name }}"	/>
                    </div>
                    <div class="col-8 d-flex flex-column">
                        <h5 class="card-title beer-title" title="{{ beer.name }}">
                            <a [routerLink]="['/beers', beer.id]">{{ beer.name }}</a>
                        </h5>
                        <p class="card-text beer-description">{{ beer.description }}</p>
                        <small class="text-muted mt-auto">Price: {{ beer.abv | currency:'MXN':'symbol':'1.2-2' }}</small>
                    </div>
                </div>
            </div>
            <div class="card-footer text-center">
                <button type="button" class="btn btn-outline-primary addToCart">Add to Cart</button>
            </div>
        </div>
    </div>
</div>